@model IEnumerable<SakaryaBufe.Models.Uyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}

<h2>Üyeler Tablosu</h2>

<p>
    @Html.ActionLink("Yeni Üye Oluştur", "Create" , null ,new { @class="btn btn-success"})
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.id }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Detayları Gör", "Details", new { id = item.id }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Sil", "Delete", new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
