@model SakaryaBufe.Models.Urunler

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Yonetim.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Baslik)
        <div class="col-md-10">
            @Html.EditorFor(model => model.Baslik)
            @Html.ValidationMessageFor(model => model.Baslik)
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama)
                @Html.ValidationMessageFor(model => model.Aciklama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResimYol)
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResimYol)
                @Html.ValidationMessageFor(model => model.ResimYol)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fiyat)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat)
                @Html.ValidationMessageFor(model => model.Fiyat)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

